<div class="page-head">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3 class="page-head-title">{{ header }}</h3>
            {% if subHeader is defined %}
                <h5>{{ subHeader }}</h5>
            {% endif %}
        </div>

        <div class="col-12 col-md-4 clearfix">
            {% if actions is defined %}
                <div class="float-right">
                    {% for action in actions %}
                        {{ action|raw }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>