{% extends '@NetBSCore/layout/base.layout.twig' %}

{% block body %}

    {{ registerCss(asset('bundles/netbscore/css/quickfix.css')) }}

    <div class="app" data-controller="mobile">

        <!-- Sidebar -->
        {{ render(controller('NetBS\\CoreBundle\\Controller\\MenuController::renderMainMenuAction')) }}
        <!-- END Sidebar -->

        <div class="main">

            <!-- Header -->
            {% include '@NetBSCore/partial/header.partial.twig' %}
            <!-- END Header -->

            <!-- Main Container -->
            <div class="main-content" data-controller="tooltip">
                {% block main %}{% endblock %}
            </div>
            <!-- END Main Container -->

        </div>
    </div>

    {% include 'partial/_toasts.html.twig' %}

    {% include '@NetBSCore/helper/init.javascript.twig' %}

{% endblock %}
