<div class="page-head">
    <div class="row">
        <div class="col-12">
            <h3>{{ header }}</h3>
            {% if subHeader is defined %}
                <h5>{{ subHeader }}</h5>
            {% endif %}
        </div>
    </div>
</div>