<div class="row">
    <div class="col-lg-12">{{ form_row(form.email) }}</div>
</div>

<div class="row">
    <div class="col-lg-4">{{ form_row(form.expediable) }}</div>
    <div class="col-lg-8">{{ form_row(form.remarques) }}</div>
</div>