<p><strong>Factures en attente d'impression</strong> &mdash; Ces factures doivent &ecirc;tre imprim&eacute;es (export&eacute;es en PDF) avant d'&ecirc;tre envoy&eacute;es.</p>
<p><strong>Comment imprimer :</strong></p>
<ol>
    <li>S&eacute;lectionnez les factures &agrave; imprimer dans la liste.</li>
    <li>Utilisez le bouton d'exportation &rarr; <strong>Factures PDF</strong> pour g&eacute;n&eacute;rer le document.</li>
    <li>Configurez les options d'impression (mod&egrave;le, tri, etc.) puis cliquez sur <em>T&eacute;l&eacute;charger</em>.</li>
    <li>D&egrave;s que le PDF est g&eacute;n&eacute;r&eacute;, les factures passent automatiquement en <strong>attente de paiement</strong>.</li>
</ol>
<p>Vous pouvez &eacute;galement modifier manuellement l'&eacute;tat d'impression via le menu <strong>Facturation</strong> &rarr; <em>Marquer comme imprim&eacute;</em> / <em>Non-imprim&eacute;</em>.</p>
