<p><strong>Cotisations</strong> &mdash; Cette page permet de g&eacute;n&eacute;rer les cr&eacute;ances de cotisation pour les membres.</p>
<ol>
    <li>Choisissez le <strong>type de membres</strong> (ex: Louveteaux &amp; SMT), puis cliquez sur <em>Valider</em>.</li>
    <li>La liste des membres concern&eacute;s s'affiche. En bas &agrave; droite, cliquez sur <strong>Facturation</strong> &rarr; <strong>Ajouter des cr&eacute;ances</strong>.</li>
    <li>Dans la fen&ecirc;tre, renseignez :
        <ul>
            <li><strong>Titre</strong> &mdash; Utilisez les champs sp&eacute;ciaux, par exemple : <code>Cotisation 2024 pour [PRENOM] [NOM]</code></li>
            <li><strong>Montant</strong> &mdash; Le montant de la cotisation.</li>
            <li><strong>Rabais famille</strong> &mdash; Le pourcentage de rabais appliqu&eacute; aux familles.</li>
        </ul>
    </li>
    <li>Cliquez sur <em>Valider</em>.</li>
    <li>R&eacute;p&eacute;tez les &eacute;tapes 1 &agrave; 4 pour chaque type de membres (ex: &laquo;&nbsp;cotisations normales&nbsp;&raquo;).</li>
</ol>
<p>Une fois toutes les cr&eacute;ances g&eacute;n&eacute;r&eacute;es, rendez-vous sur la page <strong>Cr&eacute;ances Ouvertes</strong> pour les fusionner en factures.</p>
