<p><strong>Configuration d'impression</strong> &mdash; Param&eacute;trez l'exportation PDF de vos factures.</p>
<ul>
    <li><strong>Mod&egrave;le &agrave; utiliser</strong> &mdash; Trois choix possibles :
        <ul>
            <li><em>Mod&egrave;le attribu&eacute;</em> &rarr; utilise le mod&egrave;le d&eacute;j&agrave; assign&eacute; &agrave; chaque facture.</li>
            <li><em>R&eacute;&eacute;valuer les r&egrave;gles</em> &rarr; le syst&egrave;me choisit automatiquement le mod&egrave;le selon les r&egrave;gles de poids.</li>
            <li>Un mod&egrave;le sp&eacute;cifique &rarr; force l'utilisation de ce mod&egrave;le pour toutes les factures de l'export.</li>
        </ul>
    </li>
    <li><strong>Trier par ordre alphab&eacute;tique</strong> &mdash; Trie les factures par nom du d&eacute;biteur dans le PDF g&eacute;n&eacute;r&eacute;. Utile pour faciliter la mise sous pli.</li>
    <li><strong>Rep&egrave;res visuels</strong> &mdash; Affiche des rep&egrave;res de d&eacute;coupe sur le document.</li>
    <li><strong>Date sur la facture</strong> &mdash; Permet de d&eacute;finir manuellement la date imprim&eacute;e sur la facture.</li>
</ul>
<p>Vos configurations sont sauvegard&eacute;es dans la barre lat&eacute;rale &agrave; gauche. Vous pouvez en cr&eacute;er plusieurs et basculer entre elles.</p>
