$menu-width: 18rem;
$h-padding: 1.5rem;
$icon-width: 2.5rem;

@media (max-width: 768px) {
    .menu {
        position: fixed;
        left: -$menu-width;
        z-index: 200;
        height: 100%;
        transition: left .2s;

        .menu-content {
            overflow: auto;
        }
    }

    .menu.visible {
        left: 0;
    }
}

.menu {
    width: $menu-width;
    min-height: 100vh;
    background-color: var(--bs-tertiary-bg);
    border-right: 1px solid var(--bs-border-color);

    .menu-logo {
        width: 100%;
        height: $header-height;
        background-color: var(--bs-body-bg);
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--bs-border-color);
        outline: none;

        img {
            height: $header-height;
        }

        span {
            color: var(--bs-secondary-color);
        }
    }

    .menu-content {
        padding: 1rem 0;
        height: calc(100% - #{$header-height});

        &.menu-content-lighter {
            background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);
        }
    }

    .menu-content ul {
        margin: 0;
        padding: 0;
        list-style: none;
        transition: height .2s;

        li ul {
            overflow: hidden;
        }

        li.active > a {
            background: rgba(var(--bs-emphasis-color-rgb), 0.025);
            color: $primary;
            opacity: 1;
        }

        li.open > a > .icon,
        li.open > a > .caret {
            color: $primary;
            opacity: 1;
        }

        a {
            outline: none;
            display: flex;
            padding: 0.1rem $h-padding;
            font-size: 1rem;
            line-height: 2.5rem;
            color: var(--bs-secondary-color);
            text-decoration: none;
            transition: color .1s;
            cursor: pointer;
            user-select: none;

            .caret {
                display: block;
                margin-left: auto;
                opacity: 0.3;
            }

            &:hover {
                color: var(--bs-body-color);
                background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);

                .icon, .caret {
                    opacity: 1;
                    color: var(--bs-body-color);
                }
            }
        }
    }

    .menu-content > ul {
        .menu-category {
            padding: 1.5rem $h-padding 0.3rem $h-padding;
            color: var(--bs-tertiary-color);
            margin: 0.3rem 0;
            font-weight: $font-weight-bold;
        }

        > li {
            a .caret-down { display: block; }
            a .caret-up { display: none; }

            &.open {
                a .caret-down { display: none; }
                a .caret-up { display: block; }

                > ul {
                    border-top: 1px solid var(--bs-border-color);
                    border-bottom: 1px solid var(--bs-border-color);
                }
            }
        }

        a {
            .icon {
                display: block;
                width: $icon-width;
                font-size: 1.2rem;
            }
        }

        ul {
            background: rgba(var(--bs-emphasis-color-rgb), 0.025);
        }

        > li > ul > li {
            > a {
                padding-left: 1.5 * $h-padding + $icon-width;
                font-size: 0.95rem;
            }

            > ul > li > a {
                padding-left: 2 * $h-padding + $icon-width;
            }
        }
    }
}
