
<div class="row mb-2 g-0">
    <div class="col-6 pe-1">
        <a href="{{ path('sauvabelin.etiquettes.groupe', {id: groupe.id}) }}" class="btn btn-secondary w-100">Etiquettes</a>
    </div>
    <div class="col-6 ps-1">
        <a href="{{ path('sauvabelin.etiquettes.no_chef_groupe', {id: groupe.id}) }}" class="btn btn-secondary w-100">Etiquettes sans chefs</a>
    </div>
</div>
