
<div class="row mb-2 no-gutters">
    <div class="col-6 pr-1">
        <a href="{{ path('sauvabelin.etiquettes.groupe', {id: groupe.id}) }}" class="btn btn-secondary btn-block">Etiquettes</a>
    </div>
    <div class="col-6 pl-1">
        <a href="{{ path('sauvabelin.etiquettes.no_chef_groupe', {id: groupe.id}) }}" class="btn btn-secondary btn-block">Etiquettes sans chefs</a>
    </div>
</div>
