{% if color is not defined %}{% set color = '#4e4e4e' %}{% endif %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; color: {{ color }}; margin: 0; Margin-bottom: 15px;">{{ content|raw }}</p>