{% apply spaceless %}
<button type="submit" class="editable-submit btn btn-primary btn-xs" style="height:24px;">
    <i class="fas fa-check fa-xs"></i>
</button>

<button type="button" class="editable-cancel btn btn-secondary btn-xs" style="height:24px;">
    <i class="fas fa-times fa-xs"></i>
</button>
{% endapply %}
