{%  apply spaceless %}
<form class="form-inline editableform">
    <div class="control-group form-group">

        <div style="padding-left:5px;display:flex;">
            <div class="editable-input" style="display:block;"></div>
            <div class="editable-buttons" style="display:flex;"></div>
        </div>

        <div class="editable-error-block help-block" style="display: none;"></div>
    </div>

    <div class="editable-error-block"></div>
</form>
{% endapply %}
