{% form_theme form '@NetBSCore/form/xeditable.theme.twig' %}

<form class="form-horizontal">
    {{ form_row(form.nom) }}
    {{ form_row(form.validity) }}
    {{ form_row(form.professionsParents) }}
    {{ form_row(form.remarques) }}
</form>
