<div style="width:200px;">

    <style scoped>
        .tooltip-content {
            font-size:0.9rem;
        }

        .tooltip-content table {
            background-color:white !important;
        }

        .tooltip-content p {

            margin:0;
        }
    </style>

    <div class="tooltip-content">
        {% block helper %}{% endblock %}
    </div>
</div>
