{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}{{ type == 'parents' ? 'Liste Parents' : 'Liste Chefs' }}{% endblock %}

{% block content %}
    <p><strong>{{ emails|length }} adresse(s) email trouvée(s)</strong></p>
    <div class="form-group">
        <textarea class="form-control" rows="8" readonly style="font-size:13px;" id="mailing-emails-textarea">{{ emails|join('; ') }}</textarea>
    </div>
{% endblock %}

{% block footer %}
    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Fermer</button>
    <button type="button" class="btn btn-primary"
            data-controller="clipboard"
            data-clipboard-source-selector-value="#mailing-emails-textarea"
            data-action="click->clipboard#copy">Copier</button>
{% endblock %}
