{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}

    <p>
        Cet outil sert à changer le mot de passe d'un chef qui aurait oublié le sien.
        <div class="alert  alert-info">Mets en un bien dur sa mère histoire qu'il le note bien</div>
    </p>

    {{ form(form) }}
{% endblock %}
